@model Avance_1.Models.Siniestro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Siniestro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSiniestro" class="control-label"></label>
                <input asp-for="IdSiniestro" class="form-control" />
                <span asp-validation-for="IdSiniestro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Siniestro" class="control-label"></label>
                <input asp-for="Fecha_Siniestro" class="form-control" />
                <span asp-validation-for="Fecha_Siniestro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel_Siniestro" class="control-label"></label>
                <input asp-for="Nivel_Siniestro" class="form-control" />
                <span asp-validation-for="Nivel_Siniestro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCam" class="control-label"></label>
                <input asp-for="IdCam" class="form-control" />
                <span asp-validation-for="IdCam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAgente" class="control-label"></label>
                <input asp-for="IdAgente" class="form-control" />
                <span asp-validation-for="IdAgente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
