@model Avance_1.Models.Siniestro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Siniestro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSiniestro" />
            <div class="form-group">
                <label asp-for="IdZona" class="control-label"></label>
                <input asp-for="IdZona" class="form-control" />
                <span asp-validation-for="IdZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSiniestro" class="control-label"></label>
                <input asp-for="FechaSiniestro" class="form-control" />
                <span asp-validation-for="FechaSiniestro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelUrgencia" class="control-label"></label>
                <input asp-for="NivelUrgencia" class="form-control" />
                <span asp-validation-for="NivelUrgencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAgente" class="control-label"></label>
                <input asp-for="IdAgente" class="form-control" />
                <span asp-validation-for="IdAgente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
